[submodule "workspace/joana"]
	path = workspace/joana
	url = https://github.com/joana-team/joana
[submodule "workspace/securibench-micro"]
	path = workspace/securibench-micro
	url = https://github.com/too4words/securibench-micro
[submodule "workspace/OSIP"]
	path = workspace/OSIP
	url = https://github.com/ByteHamster/PSE
[submodule "workspace/JPass"]
	path = workspace/JPass
	url = https://github.com/gaborbata/jpass
